{{> menu}}

<section class="ui segment">
  <h2 class="ui header">
    {{station.name}}
  </h2>
  {{#if station.readings}}
    {{> latestreading station}}
    {{> listreadings}}
  {{/if}}
  {{> addreading}}
</section>
